.about-us-img{
	background-color: #D20000;
	height: 351px;
	padding-top: 120px;
}

.about-us-img h1,
.about-us-img h4{
	text-align: center;
	color:#fff;
	font-family: "NautilusPompiliusRegular";
	vertical-align: middle;
}

.whatWeAre_Achivments{
	display: block;
	margin:20px auto;
	border-top: 1px #ddd dashed;
	padding-top: 35px;
}

section.whatWeAre{
	margin:20px 0 40px 0;
}

section.whatWeAre h2,
section.ourTeam h2{
	text-transform: uppercase;
	font-family: "RobotoCondensedBold";
	text-align: center;
}

section.whatWeAre p{
	font-family: "RobotoCondensedRegular";
}

.theAchivment{
	display: block;
	margin: auto;
	max-width:285px;
	min-width:273px;
	padding: 0;
}

.achivmentNumbers{
	font-size:40px;
	font-weight: bold;
}

.achivmentIcon{
	margin-top: 13px;
}

.achivmentIcon img{
	float: right;
}


section.ourTeam{
	background-color: #F0E1C3;
	padding-bottom:40px;
}

.persons{
	margin: auto;
}

.person{
	max-width:286px;
}

.personImg{
	background-color: #736464;
	height: 286px;
	position: relative;
}

.personImg__info{
	text-align: center;
	margin-top: 85px;
	color:#FFFBD3;
}

.personsInfo{
	background-color: #FFFBD3;
	padding:20px;
}

.person__name{
	color:#25202B;
	font-weight:bold;
}

.person__job{
	color:#F37314;
	font-weight:bold;
	font-size:.8em;
}