.top_header{
	z-index:9;
}

.theArticle{
	background-color: #e1ffff;
	clear:both;
}

section.article-head-block{
	position: relative;
	z-index:10;
}

img.articleIMG{
	width:100%;
	position: absolute;
}

h1.theArticle__header-text{
	width:210px;
	position: absolute;
	top:30%;
	left: 50%;	
	margin-left: -85px;
	color:#fff;
	font-family: "NautilusPompiliusRegular";
}

section.textContent{
	margin-top: -280px;
	background-color: #e1ffff;
}