.contact-us-img{
	background-color: #0093FF;
	height: 351px;
	padding-top: 120px;
}

.contact-us-img h1,
.contact-us-img h4{
	text-align: center;
	color:#fff;
	font-family: "NautilusPompiliusRegular";
	vertical-align: middle;
}

h1.ourLoc{
	font-family: "RobotoCondensedBold";
}

.contacts-content img{
	width: 100%;
}

.theInfo{
	text-align: center;
	text-transform: uppercase;
	font-family: "RobotoCondensedLight";
}

.theInfo img{
	width:90px;
}

.contacts-info{
	margin:50px 0;
}

.form{
	text-align: center;
}

.form input{
	margin-top: 10px;
	background-color: #D8D8D8;
	border:none;
	height: 30px;
	margin-left: 5%;
	border:1px solid #ccc;
}

#textarea{
	border:none;
	background-color: #D8D8D8;
	margin-top:25px;
	padding:10px;
	border:1px solid #ccc;
}

.formButton{
	border:none;
	background-color: #00A5FF;
	height:42px;
	font-size:1.4em;
	font-family: "RobotoCondensedBold";
	border-radius:7px;
	box-shadow:0 0 5px rgba(0, 0, 0, .8);
	margin-top: 40px;
	min-width:190px;
}