*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border:green 3px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}


.header_topLine{
	background-color: #43484C;
	padding: 15px 0;
}

.header_topLine a{
	color: #fff;
}

.top-links{
	display:inline-block;
	vertical-align: middle;
	z-index:12;
}

.top-links a{
	text-decoration: underline;
}

.top-links a:hover{
	text-decoration: none;
}

.soc_buttons{
	float: right;
}

.soc_buttons > a{
	font-size:25px;
	margin-left: 10px;
}

.soc_buttons i{
	transition:all .6s ease-in-out;
}

.soc_buttons i:hover{
	color:#2193C3f;
}

.auth_button{
	background-color: transparent;
	color:#fff;
	border: medium none;
	font-size:26px;
}

.logo{
	display: block;
	padding: 15px 0;
	color: #fff;
	font-family:"NautilusPompiliusRegular";
	font-size:42px;
	text-align: center;
}

.top_header{
	background-color: #4AAAD2;
}

.main_menu{
	background-color: #3797bf;
	margin-bottom: 20px;
}

.main_menu a{
	color: #fff;
	padding: 15px;
	display: block;
	text-transform: uppercase;
	transition:all .5s ease-in-out;
}

.main_menu a:hover,
.active{
	background-color: #2787af;
}

.main_menu ul{
	padding: 0;
	margin: 0;
	list-style:none;
	float: left;
	z-index:99;
}

.main_menu ul li{
	display: inline-block;
}

.main_menu_button{
	background-color: transparent;
	color:#fff;
	border: medium none;
	font-size:26px;
	padding:8px 15px 0;
}

.topContacts{
	float: right;
	color: #fff;
	font-size:25px;
	padding: 0 15px;
	background-color: #2787af;
	line-height: 53px;
}

.centerOfDevelop{
	font-family: "RobotoCondensedLight";
	text-transform: uppercase;
	text-align: center;
	color:#fff;
}

.slider_container{
	position: relative;
	z-index:1;
}

.owl-item img{
	max-width: 100%;
}

.owl-item{
	position: relative;
}

.next_button,
.prev_button{
	color:#fff;
	font-size:46px;
	position: absolute;
	z-index: 10;
	cursor:pointer;
	top:35%;
}

.next_button{
	right: 10px;
}

.prev_button{
	left: 10px;
}

section.order{
	background-color: #eee;
	padding: 20px 0;
}

.sell_descr{
	font-size:22px;
}

.zak_button{
	border: medium none;
	border-radius: 5px;
	display: block;
	background-color: #2bc6a4;
	color:#fff;
	padding: 10px 20px;
	text-transform: uppercase;
	float: right;
}

.zak_button:hover{
	background-color: #37d2b0;
}

.zak_active{
	background-color: #14af8d;
}

.hidden{
	display: none;
}

.pop-form input[type=text]{
	display: block;
	line-height:24px;
	margin:0 auto 12px;
	width:90%;
	border: #999 3px solid;
}

.pop-form h3{
	margin:10px;
	text-align: center;
	font-weight: normal;
	font-family: "RobotoCondensedBold";
}

.modal_button{
	border: medium none;
	border-radius: 5px;
	display: block;
	background-color: #2bc6a4;
	color:#fff;
	padding: 10px 20px;
	text-transform: uppercase;
	margin:auto;
}

.blog_item{
	box-shadow: 5px 2px 4px rgba(0, 0, 0, .7);
	margin-top: 15px;
	background-color: #E7F8FF;
}

.blog_item h3{
	text-transform: uppercase;
	font-family: "RobotoCondensedRegular";
}

.blog_item h3 a{
	text-decoration: underline;
}

.blog_item img{
	max-width:100%;
	margin-bottom: 20px;
}

.right_aside{
	padding: 15px 20px;
	background-color: #E1E1E1;
	margin-top: 20px;
	box-shadow:5px 2px 4px rgba(0, 0, 0, .7);
}

.right_aside ul li{
	list-style:none;
	margin-top: 15px;
	font-family: "RobotoBold";
	border-bottom:1px #44d8f0  dashed;
	transition:border .3s ease-in-out;
	cursor:pointer;
}
	
.right_aside ul li:hover{
	border-bottom:1px #3e9cc8  solid;
}

footer{
	color:#19a6e9;
	margin-top: 20px;
	padding: 10px 0;
}

footer h4{
	padding-top: 5px;
	float: right;
	text-align: center;
	font-family: "RobotoCondensedRegular";
}

footer h2{
	font-family: "NautilusPompiliusRegular";
	float: left;
	text-align: center;
}