.menu {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;

	li {
		margin: 5px 15px;
	}
}

.menuLine {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	top: 20px;

	@include container-fluid;
}

.logo h3{
	margin-top: 0;
}

