.img {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	transition: .3s ease-in;
}

.img1 {background-image: url(../img/img1.jpg)}
.img2 {background-image: url(../img/img2.jpg)}
.img3 {background-image: url(../img/img3.jpg)}
.img4 {background-image: url(../img/img4.jpg)}
.img5 {background-image: url(../img/img5.jpg)}
.img6 {background-image: url(../img/img6.jpg)}
.img7 {background-image: url(../img/img7.jpg)}
.img8 {background-image: url(../img/img8.jpg)}

