.images {
	position: relative;
	width: 100%;
	height: 100%;
} 
.img {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
/*	background-size: cover;
	background-position: center center;*/
	transition: .3s ease-in;
}

.img8 {
	opacity: 1;
	z-index: -1;
	position: absolute;
}

.textBlock {
	width: 100%;
	text-align: center;
	color: #fff;
	position: absolute;
	bottom: 10px;
}

.ourAddress {
	padding-bottom: 10px;
}

.ourAddress,
.address h1 {
	color: #D9107A;
	margin: 0;
	font-weight: normal;
}

.address h2 {
	margin: 5px 0;
	font-weight: normal;
}

.address {
	margin: 0 auto;
	width: 80%;
	border-top: dotted 2px #D9107A;
}

.ourAddress,
.address1,
.address2,
.address3 {
	opacity: 0;
}